asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.3.0
box2d-py==2.3.8
cachetools==4.0.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cloudpickle==1.2.2
colorama==0.4.3
conda==4.7.10
conda-package-handling==1.3.11
cryptography==2.7
future==0.17.1
google-api-core==1.16.0
google-api-python-client==1.7.11
google-auth==1.11.2
google-auth-httplib2==0.0.3
google-cloud-bigquery==1.24.0
google-cloud-core==1.3.0
google-cloud-firestore==1.6.2
google-cloud-storage==1.26.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
grpcio==1.27.2
gym==0.14.0
httplib2==0.17.0
idna==2.8
importlib-metadata==1.5.0
libarchive-c==2.8
menuinst==1.4.16
more-itertools==8.2.0
numpy==1.17.2
packaging==20.3
Pillow==6.2.0
pluggy==0.13.1
protobuf==3.11.3
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.19
pyglet==1.3.2
pyOpenSSL==19.0.0
pyparsing==2.4.6
PySocks==1.7.0
pytest==5.4.1
pytz==2019.3
pywin32==223
requests==2.22.0
-e git+https://github.com/akterskii/rlpyt.git@66f68d4c06f2f86dfc7bf997767645eaec7ccce6#egg=rlpyt
rsa==4.0
ruamel-yaml==0.15.46
scipy==1.3.1
six==1.14.0
torch==1.2.0
torchvision==0.4.0
tqdm==4.32.1
transitions==0.8.0
uritemplate==3.0.1
urllib3==1.24.2
wcwidth==0.1.8
win-inet-pton==1.1.0
wincertstore==0.2
zipp==3.1.0
